<!doctype html>
<html ng-app="catApp">
<head>
    <title>My Angular App</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="Angular_App/js/cat-facts.js"></script>
</head>
<body ng-controller="CatAppCtrl">

    <h1>{{title}}</h1>

    <ol>
        <li ng-repeat="catFact in catFacts">
            {{$index}} - {{catFact}}
            <button>Edit</button>
            <button ng-click="InitializeDelete($index)">Delete</button>
        </li>
    </ol>
</body>
</html>
